 @media (max-width: 600px) {    
             body {
                     font-size: 14px;
         }
               header {
                     position: relative;
         }
   
         

         
         }
         
         body {
             font-family: Arial, Helvetica, sans-serif;
             margin: 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             background-color: Linen;
             background-size: 1450px;
             background-position: center top;
             background-blend-mode: lighten;
             overflow-y: auto;
             height: 100%
         }
         .content {
             text-align: center;
             
        }
 
         h1 {
             color: black;
             font-size: 700%;
             font-family: Arial, Sans-serif;
             margin-top: 70px;

         }

         p {
             color: black;
             margin-bottom: 150px; 

         }

         p { 
             color: black;
             margin-bottom: 20px; 


         }
         
         img {
             max-width: 800px;
             max-height: 800px;
             margin-bottom: 50px;
       
             

             
             
        }    

         h3 { 
             margin-left: 10px;
              
        }

        p.special {
            margin-left: 10px;
            color: gray;

        }

        p.special2 {
            margin-bottom: 150px; 
            font-size: 35px; 
            font-style: italic;
            opacity: 0;
            transition: opacity 0.5s, font-size 0.5s;
            color: black;

        }

        p.special3 {
            margin-bottom: 150px; 
            font-size: 39px; 
            font-style: bold;
            color: black;
            letter-spacing: 2.5px;
            
       }
