         body {
                     font-size: 14px;
         }
               header {
                     position: relative;
         }
   
         

         
         }
         
         body {
             
             margin: 0;
             display: flex;
             font-family: Georgia, serif;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             background-color: Linen;
             background-size: 1450px;
             background-position: center top;
             background-blend-mode: lighten;
             overflow-y: auto;
             height: 100%
         }
         .content {
             text-align: center;
             
        }
 
         h1 {
             color: black;
             font-size: 700%;
             font-family: Georgia, Serif;
             margin-top: 70px;
             margin-bottom: 10px;

         

         }

         p.special5 { 
             color: black;
             margin-bottom: 375px; 
             

             
             
        }    

         h3 { 
             margin-left: 10px;
              
        }

        p.special {
            margin-left: 10px;
            color: gray;

        }

        .special2 {
            margin-bottom: 150px;
            font-family: Roboto, Sans-serif;
            font-size: 26px; 
            font-style: bold;
            display: block;  /* or 'inline-block' depending on needs */
            text-decoration: none; /* Removes underline from links */
            color: Aqua; 
            cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
            transition: font-size 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for the glow effect */
            position: relative;
          
            

        }


          .special4 {
            margin-bottom: 150px;
            font-family: Roboto, Sans-serif;
            font-size: 26px; 
            font-style: bold;
            display: block;  /* or 'inline-block' depending on needs */
            text-decoration: none; /* Removes underline from links */
            color: Black; 
            cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
            transition: font-size 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for the glow effect */
            position: relative;
          
            

        }

         .special4:hover {
           font-size: 27px; /* Larger font size on hover */


           
        }



         .special2::after {
                content: "coming soon"; /* The tooltip text */
                position: absolute;
                bottom: 100%; /* Position the tooltip above the element */
                left: 50%; /* Center the tooltip */
                transform: translateX(-50%); /* Correct the centering based on the tooltip's width */
                white-space: nowrap; /* Ensures the tooltip text stays in a single line */
                visibility: hidden; /* Hide tooltip by default */
                opacity: 0; /* Start with the tooltip transparent */
                width: auto; /* Auto width based on content size */
                background-color: black; /* Tooltip background color */
                font-size: 15px;
                font-family: Courier New, monospace;
                color: white; /* Text color */
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Optional shadow for better visibility */
                transition: opacity 0.3s, visibility 0.3s; /* Smooth transition for tooltip appearance */
           
         }



        .special2:hover::after {
                visibility: visible; /* Show tooltip on hover */
                opacity: 1; /* Make tooltip fully opaque on hover */
                
                

          
         }



        p.special3 {
            margin-bottom: 150px;
            font-family: Georgia, Serif;
            font-size: 20px; 
            font-style: bold;
            color: black;
            letter-spacing: 5px;
            
       }


        

       .special2:hover {
           text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* White glow */
           font-size: 27px; /* Larger font size on hover */
         
    
     }

      /* Media query for desktops */
       @media (min-width: 768px) {
          body {
        padding-top: 25px; /* Additional top padding for the entire webpage on desktop */
    }

          p.special5 {
        padding-bottom: 200px; /* Adds additional padding below the special5 class for desktop */
   
          }
     }
